@use '../variables' as *;
@use '../breakpoints' as *;

.categories {
  margin-bottom: 48px;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 11px 23px;
    flex-wrap: wrap;

    &-item {
      text-align: center;
      min-width: 135px;
      height: 112px;
      padding: 22px 19px 16px;
      background: $light-green-background;
      border-radius: 8px;
      &:hover {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      }
      & img {
        margin: 0 auto 6.5px;
        display: block;
        width: 20px;
        height: 20px;
      }
      & span {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  @include for-medium-up {
    margin: 64px 0;
    &__title {
      font-size: 28px;
    }
    &__list {
      grid-template-columns: repeat(4, 1fr);
      &-item {
        min-width: 127px;
      }
    }
  }
  @include for-xl-up {
    margin-bottom: 64px;
    &__list {
      grid-template-columns: repeat(8, 1fr);
      gap: 16px;
      &-item {
        width: 135px;
      }
    }
  }
}
