@use './variables' as *;
@use './breakpoints' as *;

.header {
  height: fit-content;
  padding: 4px 15px 0;

  &__content--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right-block {
    width: fit-content;

    @include for-large-up {
      display: flex;
    }
  }

  &__left-block,
  &__login {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  .login__btn {
    padding: 7px 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.09px;
    border: none;
    transition: all 400ms ease;

    &:hover {
      transform: scale(1.1);
    }

    @include for-large-up {
      font-size: 14px;
      font-weight: 600;
    }

    &:first-child {
      background: transparent;
      padding: 0;
    }
    &:last-child {
      border-radius: 7px;
      background: $teal-green;
      color: $white;
    }
  }
}

.search-form {
  position: relative;
  height: 42px;

  &__button {
    position: relative;
    height: 42px;
    min-width: 42px;
    background: $koral;
    border: none;
    border-radius: 0 7px 7px 0;

    &::after {
      position: absolute;
      content: url(../assets/icon/lupe-white.svg);
      top: 13px;
      left: 13px;
    }
  }

  &__input {
    border: 1px solid $border-gray;

    &:first-child {
      padding: 13px 37px;
      border-radius: 7px 0 0 7px;
      font-size: 16px;
      color: $grey-black;
    }
  }

  &--mobile {
    margin: 15px 0 0;
    display: flex;

    .search-form {
      &__input {
        height: 42px;
        width: 100%;
      }
    }
    @include for-large-up {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include for-large-up {
      display: flex;
    }
  }

  &::before {
    position: absolute;
    content: url(../assets/icon/lupe.svg);
    top: 13px;
    left: 13px;
  }
}

#language {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.09px;
  &:hover {
    cursor: pointer;
  }

  &::after {
    position: absolute;
    content: url(../assets/icon/planet.svg);
    left: -20px;
  }

  @include for-large-up {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

@include for-large-up {
  .header {
    height: fit-content;
    padding: 15px 50px 15px 15px;
  }
  .header__logo {
    margin: 5px 20px 0 25px;
  }
  .search-form__input:nth-child(2) {
    color: $black;
    margin-left: -1px;
    padding: 13px 17px;
  }
}
