// Colors
$black: #000;
$standart-black: #212121;
$grey-black: #707070;
$dark-yelow: #7c6f50;
$cherry: #e32359;
$koral: #f65858;
$teal-green: #00798a;
$light-green-background: #97cad114;
$light-green-background-12: #97cad11f;
$white: #fff;
$gray-background: #f6f7f8;
$border-gray: #d9d9d9;
$footer-gray: #c5c4c4;
